<div class="input-group">
    <input type="text" class="form-control" mask="0/0" placeholder="Working Mask" aria-label="ISBN 1 13 digits only">
    <br/>
    <span class="help-block"><b>Mask Working with all required fields : 0/0</b></span>
</div>

<div class="input-group">
    <input type="text" class="form-control" mask="0/9" placeholder="Error Mask" aria-label="ISBN 1 13 digits only">
    <br/>
    <span class="help-block"><b>Mask not working with optional field after a special character : 0/9</b></span>
</div>

